@use 'functions' as func;

// ---------- COLOURS
$colour-primary-100: hsl(225, 100%, 94%);
$colour-primary-700: hsl(245, 75%, 52%);

$colour-neutral-100: hsl(0, 0%, 100%);
$colour-neutral-150: hsl(225, 100%, 98%);
$colour-neutral-300: hsl(224, 23%, 55%);
$colour-neutral-800: hsl(223, 47%, 23%);

// ---------- TYPOGRAPHY
$font-url: 'https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap';

$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-family-primary: 'Red Hat Display', sans-serif;

// ----- Copy
$copy-colour: $colour-neutral-300;
$copy-leading: 25px;
$copy-font-weight: $font-weight-medium;
$copy-font-size: func.getRem(16);
$copy-font-family: $font-family-primary;

// ---------- GLOBALS
$body-bg: $colour-primary-100;
$body-bg-img: url('../../../images/pattern-background-mobile.svg');
$body-bg-position: 0 0;

// ---------- COMPONENTS

// ----- Card
$card-width: func.getRem(327);
$card-radius: 20px;
$card-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.25);
$card-bg: $colour-neutral-100;

// --- Card Image Holder
$card-img-radius: $card-radius $card-radius 0 0;

// ---------- LAYOUT

// ----- Wrapper
$wrapper-max-width: func.getRem(375);
