@use '../utilities/variables' as var;
@use '../utilities/mixins' as mixin;

.btn {
  @include mixin.flex;

  padding: var.$btn-padding;
  border-radius: var.$btn-radius;
  color: var.$btn-colour;
  font-weight: var.$btn-font-weight;
  text-decoration: none;

  @include mixin.hover-focus-within {
    color: var.$btn-colour-active;
  }

  &__primary {
    box-shadow: var.$btn-primary-shadow;
    background-color: var.$btn-primary-bg;
    color: var.$btn-primary-colour;

    @include mixin.hover-focus-within {
      background-color: var.$btn-primary-bg-active;
      color: var.$btn-primary-colour-active;
    }
  }

  &__default {
    background-color: var.$btn-default-bg;
    color: var.$btn-default-colour;

    @include mixin.hover-focus-within {
      background-color: var.$btn-default-bg-active;
      color: var.$btn-default-colour-active;
    }
  }
}
