@use '../utilities/variables' as var;
@use '../utilities/mixins' as mixin;

.card {
  width: var.$card-width;
  border-radius: var.$card-radius;
  box-shadow: var.$card-shadow;
  background-color: var.$card-bg;

  &__img-holder {
    img {
      border-radius: var.$card-img-radius;
      width: 100%;
      height: auto;
    }
  }

  &__body {
    padding: var.$card-body-padding;
    text-align: center;

    p {
      margin-top: var.$card-body-text;
    }
  }
}

.plan-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: var.$plan-box-padding;
  margin-top: var.$plan-box-margin-top;
  border-radius: var.$plan-box-radius;
  background-color: var.$plan-box-bg;

  p {
    margin-top: 0;
  }

  &-left {
    text-align: left;
  }

  &-centre {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}
