@use '../utilities/variables' as var;
@use '../utilities/mixins' as mixin;

.card {
  width: var.$card-width;
  border-radius: var.$card-radius;
  box-shadow: var.$card-shadow;
  background-color: var.$card-bg;

  &__img-holder {
    img {
      border-radius: var.$card-img-radius;
      width: 100%;
      height: auto;
    }
  }

  &__body {
    padding: var.$card-body-padding;
    text-align: center;

    p {
      margin-top: var.$card-body-text;
    }
  }
}
